.login-base {
  min-height: 76vh;
}

.login {
  font-weight: bold;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 100px 200px;
  display: grid;
  place-items: center;
  border: 5px solid transparent;
  background: #fff;
  animation: fadein 0.5s ease-in-out;
  position: sticky;
  height: 60%;
}

.login::before {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  animation: rainbow-border 4s linear infinite;
  background: conic-gradient(
    from var(--angle),
    #0ebeff,
    #ffdd40,
    #ae63e4,
    #47cf73,
    #0ebeff,
    #ffdd40,
    #ae63e4,
    #47cf73,
    #0ebeff
  );
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  top: 0;
  left: 0;
}

.login::after {
  bottom: 2px;
  top: 2px;
  left: 1px;
  right: 1px;
  height: auto;
  width: auto;
  margin: 3px;
  background: inherit;
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 1em;
}

@keyframes rainbow-border {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.login-img {
  max-width: 250px;
  margin-bottom: 20px;
}

.login-input {
  padding: 10px;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  margin-top: 25px;
  border: 1px solid grey;
  border-color: #e3e3e3;
}

.login-btn {
  width: 75%;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  background-color: #93f;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  transition: transform 0.2s;
}

.login-btn:hover {
  transform: scale(1.05);
}

.signup-link {
  font-size: 14px;
  font-weight: bolder;
  color: #4f4f4f;
  text-decoration: none;
  margin-left: 5px;
}

.small-text {
  font-weight: lighter;
}
