.register-base {
  min-height: 80.2vh;
}

.register {
  font-weight: bold;
  justify-content: center;
  align-items: center;
  position: relative;
  display: grid;
  place-items: center;
  border: 5px solid transparent;
  background: #fff;
  animation: fadein 0.5s ease-in-out;
  position: sticky;
}

.register::before {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  animation: rainbow-border 4s linear infinite;
  background: conic-gradient(
    from var(--angle),
    #0ebeff,
    #ffdd40,
    #ae63e4,
    #47cf73,
    #0ebeff,
    #ffdd40,
    #ae63e4,
    #47cf73,
    #0ebeff
  );
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  top: 0;
  left: 0;
}

.register::after {
  bottom: 2px;
  top: 2px;
  left: 1px;
  right: 1px;
  height: auto;
  width: auto;
  margin: 3px;
  background: inherit;
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 1em;
}

.register-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-img {
  max-width: 250px;
  margin-bottom: 20px;
}

.register-input {
  padding: 10px;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  margin-top: 25px;
  border: 1px solid grey;
  border-color: #e3e3e3;
}

.register-btn {
  width: 75%;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  background-color: #93f;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  transition: transform 0.2s;
}

.register-btn:hover {
  transform: scale(1.05);
}

.login > h1 {
  color: #505050 !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .register {
    padding: 100px;
  }
}

.form {
  width: 140%;
}
