.dashboard-card-slim {
  min-height: 64px;
  max-height: 64px;
  padding: 8px 16px;
  border-radius: 50px;

  box-shadow: 0 40px 80px rgba(24, 32, 79, 0.25),
    inset 0 0 0 0.5px hsla(0, 0%, 100%, 0.5);
  background: linear-gradient(209.21deg, #e3a6fe 13.38%, #3c0b8c 78.57%);
  z-index: 1;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.platformIcon:before {
  content: "";
  background-image: url("https://tobeto.com/platform-icon.png");
  display: flex;
  background-size: 3em 3em;
  display: inline-block;
  width: 3em;
  height: 3em;
  margin-top: 6px;
}
.dashboard-card-slim span {
  color: #fff;
}
.dashboard-card-slim .btnnn {
  border-radius: 50px;
  transition: 0.5s;
  word-wrap: break-word;
  max-width: 100%;
  border: none;
  padding: 12px;
  font-size: 13px;
}

.quiz-btn:hover {
  scale: 1.05;
}

@media (max-width: 1300px) {
  .btnnn {
    font-size: 10.2px !important;
  }

  .quiz-header {
    font-size: 12px !important;
  }
}
