.dashboard-card-slim {
  min-height: 64px;
  max-height: 64px;
  padding: 8px 16px;
  border-radius: 50px;
  background: rgba(31, 31, 71, 0.6);
  box-shadow: 0 40px 80px rgba(24, 32, 79, 0.25),
    inset 0 0 0 0.5px hsla(0, 0%, 100%, 0.5);

  background: linear-gradient(
    209.21deg,
    #aa8cff 10.27%,
    #1d0b8c 98.38%
  ) !important;

  z-index: 1;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.platformIcon:before {
  content: "";
  background-image: url("https://tobeto.com/platform-icon.png");
  display: flex;
  background-size: 3em 3em;
  display: inline-block;
  width: 3em;
  height: 3em;
  margin-top: 6px;
}
.dashboard-card-slim span {
  color: #fff;
}
.dashboard-card-slim .btn {
  width: -moz-max-content;
  width: max-content;
  border-radius: 50px;
  transition: 0.5s;
}

.btn:hover {
  scale: 1.1;
}
