.social-media-card {
  position: relative;
}

.social-media-card label {
  color: grey;
}

.social-media-card-content {
  border: 1px solid grey;
  border-radius: 6px;
  padding: 10px;
}

.social-media-card-content img {
  max-width: 30px;
  max-height: 30px;
}

.social-media-delete-button {
  content: url(/public/icons/delete_FILL0.svg);
  background-color: #fc6d6d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  width: 1.6em;
  height: 1.6em;
  position: absolute;
  right: 20px;
  top: 38px;
  cursor: pointer;
}
