@media (max-width: 992px) {
  .navbar-nav {
    flex-wrap: wrap; /* Üst menü seçeneklerini yeni satırlara yerleştir */
  }
  .navbar-nav .nav-item {
    width: 100%; /* Her bir menü seçeneğinin genişliğini %100 yap */
    text-align: center; /* Metinleri merkezle */
    margin-bottom: 10px; /* Seçenekler arasına boşluk ekle */
  }
}

.navbar-custom {
  padding: 20px;
  border: 1px solid rgb(245, 245, 245);
}

.tobetoImage {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin-left: 30px;
  padding: 0px;
  position: relative;
  max-width: 100%;
}

.logo {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.tobetoImage span {
  box-sizing: border-box;
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}
.tobetoImage span span img {
  display: block;
  max-width: 100%;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  text-decoration: none;
  background: none;
  border: 0;
  outline: none;
  outline-width: 0;
}

.d-flex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}
.mx-3 {
  margin-right: 0.75rem !important;
  margin-left: 0.75rem !important;
  gap: 1em;
}
.btn-group {
  border-radius: 25px;
}
.header-avatar {
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 35px;
  padding: 7px 10px;
  display: inline-flex;
  align-items: center;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.text-end {
  text-align: right !important;
}
.p-0 {
  padding: 0 !important;
}
.me-2 {
  margin-right: 0.5rem !important;
}
.me-2 span {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
}
.me-2 span span {
  box-sizing: border-box;
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

.me-2 span span img {
  display: block;
  max-width: 100%;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.cv-pp-img {
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  display: block;
  margin: auto;
  width: 10%;
  height: 10% !important;
}
.header-avatar .name {
  font-size: 14px;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.me-3 {
  margin-right: 0.75rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.profil-dropdown {
  font-size: 14px !important;
  color: black !important;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: var(--bs-dropdown-link-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-dropdown-item-border-radius, 0);
}
.dropdown-menu.show.profile {
  background-color: #93f !important;
  border-width: 1px;
  border-color: #fff;
  width: 100%;
}

.header-avatar {
  margin-right: 20px;
}

.navbar-sec {
  border-radius: 50px;
  display: flex;
}

.navbar-tobeto-icon {
  width: 25px;
  cursor: pointer;
}

.navbar-profile-photo {
  border-radius: 30px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  background-color: black;
}

.dropdown-item {
  color: white !important;
  font-weight: 400 !important;
}

.dropdown-item:hover {
  color: black !important;
}

.studentName {
  color: gray !important;
  font-weight: 500 !important;
}

.student-menu {
  background-color: #93f !important;
}

.nav-item {
  font-weight: 500;
}

.nav-item a,
.nav-link {
  color: #414141; /* Varsayılan renk */
}

.nav-item a:hover,
.nav-link:hover {
  color: #93f; /* Üzerine gelindiğinde renk */
  cursor: pointer;
}

ul.navbar-nav > li.nav-item.selected a {
  font-weight: bold;
  color: #93f;
}
