.navbar-custom {
  border-bottom: 1px solid rgb(245, 245, 245);
  padding: 8px;
}

.auth-navbar a {
  color: white !important;
}

.tobetoImagee {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
  margin-right: 50px;
}

.logo-auth {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.tobetoImage span {
  box-sizing: border-box;
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  max-width: 100%;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  text-decoration: none;
  background: none;
  border: 0;
  outline: none;
  outline-width: 0;
}

.d-flex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}
.mx-3 {
  margin-right: 0.75rem !important;
  margin-left: 0.75rem !important;
  gap: 1em;
}
.btn-group {
  border-radius: 25px;
}
.header-avatar {
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 35px;
  padding: 7px 10px;
  display: inline-flex;
  align-items: center;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.text-end {
  text-align: right !important;
}
.p-0 {
  padding: 0 !important;
}
.me-2 {
  margin-right: 0.5rem !important;
}
.me-2 span {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
}
.me-2 span span {
  box-sizing: border-box;
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

.me-2 span span img {
  display: block;
  max-width: 100%;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.cv-pp-img {
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  display: block;
  margin: auto;
  width: 10%;
  height: 10% !important;
}
.header-avatar .name {
  font-size: 14px;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.me-3 {
  margin-right: 0.75rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.profil-dropdown {
  font-size: 14px !important;
  color: black !important;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: var(--bs-dropdown-link-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-dropdown-item-border-radius, 0);
}
.dropdown-menu.show.profile {
  background-color: #93f !important;
  border-width: 1px;
  border-color: #fff;
  width: 100%;
}

.navbar-sec {
  border-radius: 50px;
  display: flex;
}

.navbar-tobeto-icon {
  width: 25px;
  cursor: pointer;
}

.navbar-profile-photo {
  border-radius: 30px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  background-color: black;
}

.dropdown-item {
  color: white !important;
  font-weight: 400 !important;
}

.dropdown-item:hover {
  color: black !important;
}

.studentName {
  color: gray !important;
  font-weight: 500 !important;
}

.student-menu {
  background-color: #93f !important;
}

.nav-item {
  font-weight: 500;
}

.nav-item a:hover,
.nav-link:hover {
  color: #93f !important;
  cursor: pointer;
}

ul.navbar-nav > li.nav-item.selected a {
  font-weight: bold;
  color: #93f !important;
}

@media (max-width: 1399px) {
  .media-width {
    flex-direction: column;
  }
}

@media (min-width: 1399px) {
  .tobetoImagee {
    margin-left: 50px;
  }
}

.authnav-login {
  cursor: pointer;
  color: white;
  background-color: #181717;
  padding: 5px 15px 8px 17px;
  border-radius: 20px;
  border: 1px solid;
  border-color: white;
  font-weight: 800;
  text-align: center;
  font-size: 11pt;
}

.authnav-signup {
  cursor: pointer;
  color: white;
  background-color: #181717;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-weight: 800;
  text-align: center;
  font-size: 11pt;
}

.btn-rainbow {
  position: sticky;
  background: #181717;
  color: #fff;
}

.btn-rainbow:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  top: 0;
  left: 0;
  z-index: -1;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  margin: 3px;
  background: inherit;
}

.btn-rainbow:before {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  animation: rainbow-border 4s linear infinite;
  background: conic-gradient(
    from var(--angle),
    #0ebeff,
    #ffdd40,
    #ae63e4,
    #47cf73,
    #0ebeff,
    #ffdd40,
    #ae63e4,
    #47cf73,
    #0ebeff
  );
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  top: 0;
  left: 0;
}
