main {
  display: block;
  min-height: 70vh;
}

.lectures-expand {
  animation: bounce 0.8s;
}

.page-banner-card {
  background-image: url("https://tobeto.com/_next/static/media/edu-banner3.d7dc50ac.svg");
  background-position: 50%;
  justify-content: flex-start;
  border-radius: 20px;
  margin-bottom: 1.5em;
  padding-left: 1vw;
  padding-right: 1vw;
}

.page-banner-card {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  display: flex;
  align-items: center;
}

.page-banner-card strong {
  color: #d60e0e;
  font-size: 5vw;
  font-weight: bold !important;
}

.page-item .page-link {
  color: #282828;
  border-radius: 10px !important;
  min-width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
  font-weight: 500;
}

.pages-control {
  margin-top: 30px;
  margin-bottom: 50px;
}

.li-selected {
  border-radius: 12px !important;
  background-color: #282828;
  color: white !important;
}

.li-selected a {
  color: white !important;
}

.is-selectedd {
  border-bottom: #535353 2px solid;
}

.selected-hover:hover {
  color: white !important;
}

.item-hover:hover > a {
  color: #535353 !important;
}

.filters-link {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  color: #535353;
  margin: auto 0;
  border: none;
  padding: 8px 16px;
  font-size: 20px;
  transition: color 0.5s ease;
  background: none;
}

.list {
  animation: fadein 1.2s ease-in-out;
}

.search-area {
}

.nav-item-search-area {
  min-width: 275px;
  padding: 8px;
  border: 1px solid grey;
  border-radius: 20px;
  outline: none;
}
