.spans-elements {
  color: #4d4d4d;
}

.tobeto-text-secondary {
  color: #82fd;
  font-weight: 700;
  font-size: 28pt;
}

.sub-text-name {
  font-weight: 400;
  font-size: 25pt;
}

.home {
  position: relative;
}

.dot-img {
  position: absolute;
  right: 100px;
  width: 150px;
  top: 0;
}

.tobeto-text-welcome {
  font-size: 30pt;
  font-weight: 400;
}

.alt-text {
  font-size: 20pt;
}

@keyframes bounce {
  0% {
    transform: translateY(-250px);
    opacity: 0;
  }
}

@keyframes short-bounce {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

@keyframes bounce2 {
  0% {
    opacity: 0;
  }

  70% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.welcome-message {
  animation: bounce2 1.2s;
}

.main-section {
  animation: bounce 1.2s;
}

.info-card-list {
  animation: bounce 1.2s;
}
