.spans-elements {
  color: #4d4d4d;
}

.tobeto-text-secondary {
  color: #82fd;
  font-weight: 700;
  font-size: 28pt;
}

.sub-text-name {
  font-weight: 400;
  font-size: 25pt;
}

.home {
  position: relative;
}

.dot-img {
  position: absolute;
  right: 100px;
  width: 150px;
  top: 0;
}

.tobeto-text-welcome {
  font-size: 30pt;
  font-weight: 400;
}

.alt-text {
  font-size: 20pt;
}

.Exam {
  width: 100%; /* Komponentin tüm kolon genişliğini kaplamasını sağlar */
  /* Diğer stil tanımları */
}
