.spans-elements {
  color: #4d4d4d;
}

.tobeto-text-secondary {
  color: #93fd;
  font-weight: 800;
}

.sub-text-name {
  font-weight: 400;
}

.home {
  position: relative;
}

.dot-img {
  position: absolute;
  right: 100px;
  width: 150px;
  top: 0;
}
