.certificates h5 {
  color: #93f;
}

.upload-area {
  width: 100%;
  background-color: #f8f8f8;
  border: 2px dashed #a486c3;
  border-radius: 20px;
  height: 100%;
}

.upload-img {
  display: flex;
  justify-content: center;
  border: 2px dashed #93f;
  border-radius: 50%;
  background-color: #efdfff;
  height: 60px;
  width: 60px;
  cursor: pointer;
  position: relative;
}

.file-upload-loading {
  position: absolute;
  right: 20%;
  top: 25%;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  padding-top: 3px;
}
