.quiz-screen .question2 .question-count {
  margin: 20px;
  text-align: center;
  background: #93f;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 64px;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
}
.quiz-screen .question2 .progress-bar {
  width: 0;
  height: 5px;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: var(--bs-progress-bar-color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--bs-progress-bar-bg);
  transition: var(--bs-progress-bar-transition);
}
.quiz-screen .question2 .main  {
  
  padding: 20px;
}
.quiz-screen .question2 .main .title {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quiz-screen .question2 .main .title p {
  margin-top: 40px;
  color: #181818;
  font-weight: 600;
  font-size: large;
}
.quiz-screen .question2 .control {
  display: flex;
  justify-content: space-between;
}

.quiz-screen .question2 .main .options {
  margin: 0 0 40px;
  display: flex;
  background: #fff;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  border-bottom: 1px #d1d1d1 solid;
}
.quiz-screen .question2 .main .title .p .span {
  background-color: rgb(248, 249, 250);
  color: rgb(32, 33, 36);
  font-family: docs-Roboto, Helvetica, Arial, sans-serif;
}
.quiz-screen .question2 .main .options .option2 {
  width: calc(100% - 20px);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 12px;
  cursor: no-drop;
  word-break: break-word;
  font-size: large;
}
.quiz-screen .question2 .main .options .option2.active {
  background-color: rgb(43, 165, 43) !important;
  color: #180a0a;
}
.quiz-screen .question2 .main .options .option2.wrong {
  background-color: rgb(249, 68, 68);
  color: #ffffff;
}

.quiz-screen-loading {
  position: absolute;
  left: 49%;
  top: 45%;
}

@media only screen and (min-width: 768px) {
  .btnx {
    position: relative;
    top: 0;
    left: 0;
    width: 40%;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }
@media only screen and (max-width: 768px) {
  .btnx {
    position: relative;
    top: 0;
    left: 0;
    width: 70%;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }



.btnx a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}.btnx a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}.btnx a::before {
	transform: skewX(45deg) translate(200px);
}.btnx::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}.btnx::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}.btnx::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}.btnx::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.wrongButton::before,
.wrongButton::after {
	background: #ff1f71;
	box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
		0 0 60px #ff1f71;
}

.successsbtn::before,
.successsbtn::after {
	background: #1eff45;
	box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45,
		0 0 60px #1eff45;
}

.emptyButton::before,
.emptyButton::after {
	background: #2db2ff;
	box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
		0 0 60px #2db2ff;
}